@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d6e1f0;
}
.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  height: 370px;
  width: 250px;
  border-radius: 20px;
}

img {
  padding: 10px;
  height: 250px;
  width: 250px;
  border-radius: 20px;
}
.text h2 {
  font-size: 18px;
  font-size: 700;
  font-family: Outfit;
  padding: 0 10px;
  text-align: center;
}

.text p {
  font-size: 400;
  font-family: Outfit;
  padding: 10px;
  text-align: center;
  font-size: 12px;
}
